@media (min-width: 320px) and (max-width: 540px)
	html
		min-width 320px
	body
		overflow-x hidden
//----------------header---------------------------------------
	.turbolock-header
		@media (min-width: 320px) and (max-width: 540px)
			background-color #363636
			margin auto
			height 56px
		&__logo
			@media (min-width: 320px) and (max-width: 540px)
				background url('../images/footer_logo.png') no-repeat left center
				background-size cover
				margin auto 0
				margin-top 5px
				height 44px
				width 30%
		a
			@media (min-width: 320px) and (max-width: 540px)
				display none
	.turbolock-move.
		display none
@media (min-width: 320px) and (max-width: 540px)
	.turbolock-button._header
			button
				display none
	.turbolock-phone._number
		display none

.turbolock-menu
	@media (min-width: 320px) and (max-width: 540px)
		display block
		font-size 33px
		font-family "FontAwesome"
		color rgb(41, 166, 236)
		line-height 0.545
		width 13vw
		height 13vw
		float right
		text-align center
		position relative
		top 5px
.turbolock-mobmenu
	@media (min-width: 320px) and (max-width: 540px)
		//display block
		height 100vh
		width 100vw
		background-color rgba(51, 51, 51, 0.95)
		position fixed
		z-index 200
		margin-left -10px
.turbolock-close
	@media (min-width: 320px) and (max-width: 540px)
		font-size 24px
		font-family "Akrobat"
		color rgb(41, 166, 236)
		text-align center
		font-weight bold
		margin-top 20vh
//================= section blackblock =====================
.turbolock-move
	&__link
		@media (min-width: 320px) and (max-width: 540px)
			color #fff
			text-align center
			font-size 24px
			font-family "Akrobat"
			line-height 2
.turbolock-move._linkmobile1,.turbolock-move._linkmobile2,.turbolock-move._linkmobile3,.turbolock-move._linkmobile4
	@media (min-width: 320px) and (max-width: 540px)
		text-align center
.turbolock-move._linkmobile1
	@media (min-width: 320px) and (max-width: 540px)		
		margin-top 30vw
		
	//================= section 0 ==============================

.turbolock-section._zero
	@media (min-width: 320px) and (max-width: 540px)
		display block
		height 112px
.turbolock-nadpiszero
	@media (min-width: 320px) and (max-width: 540px)
		display block
		font-size 14px
		font-family "Akrobat"
		color rgb(41, 41, 41)
		line-height 0.667
		text-align center
		font-weight bold
		margin-top 10px
		margin-bottom 8px
.turbolock-linezero
	@media (min-width: 320px) and (max-width: 540px)
		display block
		background-color #29a6ec
		height 4px
		width 133px
		margin auto

.turbolock-phone._numberzero
	@media (min-width: 320px) and (max-width: 540px)
		display block
		font-size 20px
		font-family "Akrobat"
		color rgb(32, 124, 168)
		line-height 0.947
		font-weight 900
		margin-left 0px
		margin-top 0px
		letter-spacing 1.4px
		text-align center
		i
			@media (min-width: 320px) and (max-width: 540px)
				font-size: 20px;
				font-family: "FontAwesome";
				color: rgb(54, 54, 54);

		span
			@media (min-width: 320px) and (max-width: 540px)
				font-size 29px
				font-family "Akrobat"
				color rgb(41, 41, 41)
.turbolock-buttonzero
	@media (min-width: 320px) and (max-width: 540px)
		display block
		text-align center
	button
		@media (min-width: 320px) and (max-width: 540px)	
			background-color rgb(41, 41, 41)
			width 136px
			height 21px
			border none
			font-size 11px
			font-family "Arial"
			color rgb(255, 255, 255)
			text-align center
			text-decoration underline
			margin-top 16px


	//================= section 1 ==============================
.turbolock-section._one
	@media (min-width: 320px) and (max-width: 540px)
		background url('../images/Layer 4.png') no-repeat center center
		height 215px
		background-size cover
.turbolock-nadpisone
	@media (min-width: 320px) and (max-width: 540px)
		display none

.turbolock-lineone
	@media (min-width: 320px) and (max-width: 540px)
		display none

.turbolock-point1
	@media (min-width: 320px) and (max-width: 540px)
		height 20px
		margin-top 18px
		margin-left 15px
	&__point1
		@media (min-width: 320px) and (max-width: 540px)
			span
				@media (min-width: 320px) and (max-width: 540px)
					font-size 12px
					font-family "Akrobat"
					color rgb(41, 41, 41)
					line-height 0.667
					font-weight 900
.turbolock-point2
	@media (min-width: 320px) and (max-width: 540px)
		height 20px
		margin-top 33px
		margin-left 15px
	&__point2
		@media (min-width: 320px) and (max-width: 540px)
			span
				@media (min-width: 320px) and (max-width: 540px)
					font-size 12px
					font-family "Akrobat"
					color rgb(41, 41, 41)
					line-height 0.667
					font-weight 900
.turbolock-point3
	@media (min-width: 320px) and (max-width: 540px)
		height 20px
		margin-top 34px
		margin-left 15px
	&__point3
		@media (min-width: 320px) and (max-width: 540px)
			span
				@media (min-width: 320px) and (max-width: 540px)
					font-size 12px
					font-family "Akrobat"
					color rgb(41, 41, 41)
					line-height 0.667
					font-weight 900
.turbolock-point4
	@media (min-width: 320px) and (max-width: 540px)
		height 20px
		margin-top 30px
		margin-left 15px
	&__point4
		@media (min-width: 320px) and (max-width: 540px)
			span
				@media (min-width: 320px) and (max-width: 540px)
					font-size 12px
					font-family "Akrobat"
					color rgb(41, 41, 41)
					line-height 0.667
					font-weight 900
//================= section 2 ==============================
	.turbolock-section._two
		@media (min-width: 320px) and (max-width: 540px)
			height 149px
			background-color #292929
		
	.turbolock-section
		&__title1
			@media (min-width: 320px) and (max-width: 540px)
				font-size 60px
				font-family "Akrobat"
				color #0773ac
				text-align left
				font-weight 900
		&__title2
			@media (min-width: 320px) and (max-width: 540px)
				font-size 13px
				text-align left
				color #ffffff
				font-family "Akrobat"
				font-weight 900
				margin-top 20px
				margin-left 15px
		&__title3
			@media (min-width: 320px) and (max-width: 540px)
				font-size 13px
				text-align left
				color #ffffff
				font-family "Akrobat"
				font-weight 900
		&__form
			input
				@media (min-width: 320px) and (max-width: 540px)
					display none
	.turbolock-button2
		button
			@media (min-width: 320px) and (max-width: 540px)
				display none

	//================= section 3 ==============================
	.turbolock-nadpis
		&__titlemain
			@media (min-width: 320px) and (max-width: 540px)
				font-size 14px
				font-family "Akrobat"
				color rgb(41, 41, 41)
				line-height 1
				text-align center
				font-weight bold
				margin-top 10px
				margin-bottom 8px
	.turbolock-line
		@media (min-width: 320px) and (max-width: 540px)
			background-color #29a6ec
			height 4px
			width 133px
			margin auto


	.turbolock-pict
		@media (min-width: 320px) and (max-width: 540px)
			display inline
			vertical-align top
			width 50%
		&__picture1
			@media (min-width: 320px) and (max-width: 540px)
				background url('../images/block1.png') no-repeat
				background-size contain
				height 170px
				width 100%
				margin-top 40px
		&__picture2
			@media (min-width: 320px) and (max-width: 540px)
				display none
				background url('../images/block2.png') no-repeat
				background-size contain	
				height 170px
				width 100%
		&__picture2hide
			@media (min-width: 320px) and (max-width: 540px)
				display block
				background url('../images/block2.png') no-repeat
				background-size contain	
				height 170px
				width 100%
				margin-top 40px
		&__picture3
			@media (min-width: 320px) and (max-width: 540px)
				background url('../images/block3.png') no-repeat
				background-size contain
				height 170px
				width 100%
				margin-top 40px
		&__picture4
			@media (min-width: 320px) and (max-width: 540px)
				display none
				background url('../images/block4.png') no-repeat
				background-size contain
				height 170px
				width 100%
		&__picture4hide
			@media (min-width: 320px) and (max-width: 540px)
				display block
				background url('../images/block4.png') no-repeat
				background-size contain	
				height 170px
				width 100%
				margin-top 40px
			
	.turbolock-texto
		@media (min-width: 320px) and (max-width: 540px)
			display inline
			vertical-align top

		&__titleblock
			@media (min-width: 320px) and (max-width: 540px)
				font-size 19px
				font-family "FontAwesome"
				color rgb(32, 124, 168)
				line-height 1.2
				margin-top 15px
				margin-left -83px
				span
					@media (min-width: 320px) and (max-width: 540px)
						font-family "Akrobat"
						color rgb(41, 41, 41)
						font-weight bold
		&__titleblock1
			@media (min-width: 320px) and (max-width: 540px)
				display none
				font-size 19px
				font-family "FontAwesome"
				color rgb(32, 124, 168)
				line-height 1.2
				span
					font-family "Akrobat"
					color rgb(41, 41, 41)
					font-weight bold
		&__titleblockhide
			@media (min-width: 320px) and (max-width: 540px)
				display block
				font-size 19px
				font-family "FontAwesome"
				color rgb(32, 124, 168)
				line-height 1.2
				margin-top 15px
				margin-left -83px
				span
					@media (min-width: 320px) and (max-width: 540px)
						font-family "Akrobat"
						color rgb(41, 41, 41)
						font-weight bold
		&__discription
			@media (min-width: 320px) and (max-width: 540px)
				display none

		&__discriptionhide
			@media (min-width: 320px) and (max-width: 540px)
				display block
				p
					@media (min-width: 320px) and (max-width: 540px)
						font-size 12px
						font-family "Akrobat"
						color  rgb(41, 41, 41)
						line-height 1.5
						margin-top 10px
						overflow hidden
						max-height 147px
	.turbolock-button1
		@media (min-width: 320px) and (max-width: 540px)
			margin-top 30px
			padding-left 1px
			margin-left -105px
			button
				@media (min-width: 320px) and (max-width: 540px)
					background-color rgb(17, 17, 17)
					width 263px
					height 68px
					font-size 26px
					font-family "Akrobat"
					color rgb(255, 255, 255)
					font-weight bold
					line-height 1.2
					border none
	.turbolock-button1hide
		@media (min-width: 320px) and (max-width: 540px)
			display block
			margin-top 30px
			padding-left 1px
			margin-left -105px
			button
				@media (min-width: 320px) and (max-width: 540px)
					background-color rgb(17, 17, 17)
					width 263px
					height 68px
					font-size 26px
					font-family "Akrobat"
					color rgb(255, 255, 255)
					font-weight bold
					line-height 1.2
					border none

	.turbolock-gradient
		@media (min-width: 320px) and (max-width: 540px)
			margin-left -104px
			margin-bottom 25px
			height 4px
			width 263px
			background: -moz-linear-gradient(left, #00aeef 0%, #7424cd 50%, #0970f1 100%)
			background: -webkit-linear-gradient(left, #00aeef 0%,#7424cd 50%,#0970f1 100%)
			background: linear-gradient(to right, #00aeef 0%,#7424cd 50%,#0970f1 100%)
	.turbolock-gradienthide
		@media (min-width: 320px) and (max-width: 540px)
			display block
			margin-left -104px
			margin-bottom 25px
			height 4px
			width 263px
			background: -moz-linear-gradient(left, #00aeef 0%, #7424cd 50%, #0970f1 100%)
			background: -webkit-linear-gradient(left, #00aeef 0%,#7424cd 50%,#0970f1 100%)
			background: linear-gradient(to right, #00aeef 0%,#7424cd 50%,#0970f1 100%)
		
	.turbolock-gradient1
		@media (min-width: 320px) and (max-width: 540px)
			display none
			margin-left -104px
			margin-bottom 25px
			height 4px
			width 263px
			background: -moz-linear-gradient(left, #00aeef 0%, #7424cd 50%, #0970f1 100%)
			background: -webkit-linear-gradient(left, #00aeef 0%,#7424cd 50%,#0970f1 100%)
			background: linear-gradient(to right, #00aeef 0%,#7424cd 50%,#0970f1 100%)

	.turbolock-button5
		@media (min-width: 320px) and (max-width: 540px)
			display none
			margin-top 30px
			padding-left 1px
			margin-left -105px
			button
				@media (min-width: 320px) and (max-width: 540px)
					background-color rgb(17, 17, 17)
					width 263px
					height 68px
					font-size 26px
					font-family "Akrobat"
					color rgb(255, 255, 255)
					font-weight bold
					line-height 1.2
					border none
	.turbolock-price
		text-align center
		margin-bottom 13px
		&__link
			font-size 18px
			font-family "FontAwesome"
			color #0773ac
			line-height 1.2
	.turbolock-price__link:hover{
		color #0773ac
	}
	//================= section 4 ==============================
	.turbolock-line1
		@media (min-width: 320px) and (max-width: 540px)
			display none
			background-color #29a6ec
			height 4px
			width 454px
			margin auto
			margin-bottom 50px
	.turbolock-section.
		&_four
			@media (min-width: 320px) and (max-width: 540px)
				background-color #292929
				height 230px
	.turbolock-section
		&__titlemain1
			@media (min-width: 320px) and (max-width: 540px)
				display none
				font-size 24px
				font-family "Akrobat"
				color rgb(255, 255, 255)
				line-height 1.2
				text-align center
				font-weight bold
				margin-top 20px
				margin-bottom 10px
		&__line
			margin-top -20px
			margin-left 390px
			margin-bottom 25px
		&__pict
			@media (min-width: 320px) and (max-width: 540px)
				display none
				margin-bottom 20px
				margin-left 17px
				img
					background-size contain
				i
					font-size 30px
					font-family "FontAwesome"
					color: rgb(255, 255, 255)
					line-height 1.2
					text-align center
					position relative
					left 25px
		&__disription
			@media (min-width: 320px) and (max-width: 540px)
				display none
				p
					font-size 16px
					font-family "Akrobat"
					color rgb(255, 255, 255)
					font-weight bold
					line-height 1.2
					text-align center
		&__title
			@media (min-width: 320px) and (max-width: 540px)
				display none
				font-size 25px
				font-family "Akrobat"
				color rgb(255, 255, 255)
				line-height 1.2
				font-weight bold

		&__titlehide
			@media (min-width: 320px) and (max-width: 540px)
				display block
				font-size 25px
				font-family "Akrobat"
				color rgb(255, 255, 255)
				line-height 1.2
				font-weight bold
				margin-top 5px
				text-align center
		&__form2
			@media (min-width: 320px) and (max-width: 540px)
				text-align center
				input
					border-width 4px
					border-color rgb(0, 174, 239)
					border-style solid
					background-color rgb(255, 255, 255)
					width 285px
					height 46px			
					font-size 28px
					font-family "Akrobat"
					color rgb(130, 130, 130)
					font-weight bold
					line-height 1.2
					margin-top 20px

	.turbolock-button
		@media (min-width: 320px) and (max-width: 540px)
			text-align center
			button
				background-color: rgb(57, 181, 74);
				width: 293px;
				height: 54px;
				font-size 26px
				font-family "Akrobat"
				color rgb(255, 255, 255)
				font-weight bold
				line-height 1.2
				border none
				margin-top 13px

	//================= section 5 ==============================
	.turbolock-section
		&__titlemain
			@media (min-width: 320px) and (max-width: 540px)
				font-size 22px
				font-family "Akrobat"
				color rgb(14, 14, 14)
				line-height 1.2
				text-align center
				font-weight 900
				margin-top 10px
				margin-bottom 20px
		&__pict6
			@media (min-width: 320px) and (max-width: 540px)
				display none
				img
					margin-left 85px
					margin-top 50px
		&__titlephone
			@media (min-width: 320px) and (max-width: 540px)
				margin-top 0px
				margin-left 0px
				font-size 26px
				font-family "Akrobat"
				color rgb(14, 14, 14)
				line-height 1.2
				text-align center
				font-weight 900
				span
					color #1a7fed
		&__viber
			@media (min-width: 320px) and (max-width: 540px)
				display block
				img
					width 120%
		
		&__vatsup
			@media (min-width: 320px) and (max-width: 540px)
				display block
				img
					width 100%
	.turbolock-phonehand
		&__handphone
			@media (min-width: 320px) and (max-width: 540px)
				img
					margin-top 340px
					margin-left 55px
					width 86%
	.turbolock-engineer
		&__engineerpict
			@media (min-width: 320px) and (max-width: 540px)
				display none
				margin-top 13px
	//================= section 6 ==============================
	.turbolock-line2
		@media (min-width: 320px) and (max-width: 540px)
			display none
			background-color #29a6ec
			height 4px
			width 454px
			margin auto
			margin-bottom 50px
	.turbolock-lineblock6
		@media (min-width: 320px) and (max-width: 540px)
			display block
			background-color #29a6ec
			height 4px
			width 133px
			margin auto
	.turbolock-section
		&__title6main
			@media (min-width: 320px) and (max-width: 540px)
				display block
				font-size 14px
				font-family "Akrobat"
				color #ffffff
				line-height 0.667
				text-align center
				font-weight bold
				margin-top 10px
				margin-bottom 8px
	.turbolock-section.
		&_six
			@media (min-width: 320px) and (max-width: 540px)
				background-color #292929
				height 440px
	.turbolock-slider
		&__content
			p
				@media (min-width: 320px) and (max-width: 540px)
					display none
					font-size 18px
					font-family "Akrobat"
					color rgb(255, 255, 255)
					line-height 1.2
			img
				@media (min-width: 320px) and (max-width: 540px)
					width 100%
					margin-right 0px
					margin-top 10px

	//================= section 7 ==============================
	.turbolock-section
		&__titlemain3
			@media (min-width: 320px) and (max-width: 540px)
				font-size 24px
				font-family "Akrobat"
				color rgb(23, 23, 23)
				font-weight 900
				line-height 1.2
				margin-top 15px
		&__discription
			@media (min-width: 320px) and (max-width: 540px)
				display none
				font-size 19px
				font-family "Akrobat"
				color rgb(23, 23, 23)
				font-weight bold
				line-height 1.2
				margin-top 75px
		&__discription7hide
			@media (min-width: 320px) and (max-width: 540px)
				display block
				font-size 19px
				font-family "Akrobat"
				color rgb(23, 23, 23)
				font-weight bold
				line-height 1.2
				margin-top 35px
		&__kartinka
			img
				@media (min-width: 320px) and (max-width: 540px)
					display none

	.turbolock-section._seven
		.container
			.row
				.col-lg-6.col-md-6
					.row
						@media (min-width: 320px) and (max-width: 540px)
							margin-top 45px
							margin-bottom -5px
							background-color #ebebeb

	.turbolock-kart1
		&__pict1
			@media (min-width: 320px) and (max-width: 540px)
				background url('../images/crown.png') no-repeat
				height 58px
				width 67px
				margin-right 0px
				margin-left 18px
				float left
		&__discription2
			@media (min-width: 320px) and (max-width: 540px)
				margin-top 10px
				text-align center
			
	.turbolock-kart2
		&__pict2
			@media (min-width: 320px) and (max-width: 540px)
				background url('../images/security.png') no-repeat
				height 58px
				width 67px
				margin-right 0px
				margin-left 8px
				float left
		&__discription2
			@media (min-width: 320px) and (max-width: 540px)
				margin-top 10px
				margin-right 21px
				text-align center

	.turbolock-kart3
		&__pict3
			@media (min-width: 320px) and (max-width: 540px)
				background url('../images/coins.png') no-repeat
				height 58px
				width 67px
				margin-left 9px
				float left
				margin-right 10px
		&__discription2
			@media (min-width: 320px) and (max-width: 540px)
				text-align center
				margin-top 10px
				margin-right -10px
				margin-left -22px
	.turbolock-logo1
		@media (min-width: 320px) and (max-width: 540px)
			display none
			margin-left -25px
	.turbolock-logo2
		@media (min-width: 320px) and (max-width: 540px)
			display none
			margin-left 20px
	.turbolock-logo3
		@media (min-width: 320px) and (max-width: 540px)
			display none
			margin-left 20px
	.turbolock-logo4
		@media (min-width: 320px) and (max-width: 540px)
			display none
			margin-left 20px
	.turbolock-logo5
		@media (min-width: 320px) and (max-width: 540px)
			display none
			margin-left -25px
		

	//================= section 8 ==============================
	.turbolock-section
		&__title8main
			@media (min-width: 320px) and (max-width: 540px)
				display block
				font-size 15px
				font-family "Akrobat"
				color rgb(255, 255, 255)
				line-height 1.2
				text-align center
				font-weight bold
				margin-top 10px
	.turbolock-lineblock8
		@media (min-width: 320px) and (max-width: 540px)
			display block
			background-color #29a6ec
			height 4px
			width 133px
			margin auto
			margin-bottom 15px
			margin-top 5px

	.turbolock-map
		@media (min-width: 320px) and (max-width: 540px)
			display none
	.turbolock-line3
		@media (min-width: 320px) and (max-width: 540px)
			display none
			background-color #29a6ec
			height 4px
			width 454px
			margin auto
			margin-bottom 50px
	.turbolock-section.
		&_eight
			@media (min-width: 320px) and (max-width: 540px)
				background-color #292929
				height 520px
	.turbolock-section
		&__titlemain4
			font-size 24px
			font-family "Akrobat"
			color rgb(14, 14, 14)
			line-height 1.2
			text-align center
			font-weight 900
		&__pict3
			img
				margin-left 50px
				margin-top 50px
		&__discription4
			@media (min-width: 320px) and (max-width: 540px)
				font-size 15px
				font-family "Akrobat"
				color rgb(255, 255, 255)
				font-weight bold
				line-height 1.2
				text-align center
		&__discription5
			@media (min-width: 320px) and (max-width: 540px)
				font-size 15px
				font-family "Akrobat"
				color rgb(255, 255, 255)
				font-weight bold
				line-height 1.2
				text-align center
				margin-top 20px
				span
					color #00aeef
		&__form4
			@media (min-width: 320px) and (max-width: 540px)
				text-align center
				input
					border-width 4px
					border-color rgb(0, 174, 239)
					border-style solid
					background-color rgb(255, 255, 255)
					width 285px
					height 46px			
					font-size 28px
					font-family "Akrobat"
					color rgb(130, 130, 130)
					font-weight bold
					line-height 1.2
					margin-top 15px

	.turbolock-input-menu
		&__form
			@media (min-width: 320px) and (max-width: 540px)
				text-align center
				textarea
					border-width 4px
					border-color rgb(0, 191, 243)
					border-style solid
					background-color rgb(225, 225, 225)
					width 285px
					height 128px
					font-size 19px
					font-family "Akrobat"
					color rgb(130, 130, 130)
					font-weight bold
					line-height 1.2
					margin-top 29px
	.turbolock-button3
		@media (min-width: 320px) and (max-width: 540px)
			text-align center
			margin-top 15px
			margin-left 0px
			button
				background-color: rgb(57, 181, 74);
				width: 285px
				height: 46px
				font-size 19px
				font-family "Akrobat"
				color rgb(255, 255, 255)
				font-weight bold
				line-height 1.2
				text-align center
				border none

	//================= footer ==============================
	.turbolock-footer
		@media (min-width: 320px) and (max-width: 540px)
			background-color #3d3d3d
			height 97px
			padding-top 30px
		&__logo
			@media (min-width: 320px) and (max-width: 540px)
				background url('../images/footer_logo.png') no-repeat left center
				background-size cover
				margin auto 0
				margin-top -15px
				height 55px
				width 104%
	.turbolock-move._link1
			@media (min-width: 320px) and (max-width: 540px)
				display none
	.turbolock-move._link2
			@media (min-width: 320px) and (max-width: 540px)
				display none
	.turbolock-move._link3
			@media (min-width: 320px) and (max-width: 540px)
				display none
	.turbolock-move._link4
			@media (min-width: 320px) and (max-width: 540px)
				display none

	.turbolock-move:hover{
					border-bottom 3px solid #207ca8	
	}
	.turbolock-button._footer
			button
				@media (min-width: 320px) and (max-width: 540px)
					display none
					background-color #207ca8
					width 150px
					height 27px
					border none
					font-size 11px
					font-family "Arial"
					color rgb(255, 255, 255)
					text-align left
					text-decoration underline
					margin-top 4px
					margin-left -9px
					margin-right 6px
			img
				@media (min-width: 320px) and (max-width: 540px)
					display none
	.turbolock-phone._number1
		@media (min-width: 320px) and (max-width: 540px)
			display none
			font-size 20px
			font-family "Akrobat"
			color rgb(32, 124, 168)
			line-height 0.947
			font-weight 900
			margin-left -53px
			margin-top 2px
			letter-spacing 1.4px
			span
				font-size 29px
				font-family "Akrobat"
				color #dddddd
				img
					margin-left 6px
	.turbolock-politika
		@media (min-width: 320px) and (max-width: 540px)
			display none
			margin-top 36px
			text-align right
	.turbolock-prava
		@media (min-width: 320px) and (max-width: 540px)
			display none
			margin-top 36px	
			&__discription
				font-size 14px
				font-family "Arial"
				color rgb(255, 255, 255)
				line-height 0.947
				font-weight 300
				
	.turbolock-pravahide
		@media (min-width: 320px) and (max-width: 540px)
			display block
			&__discription
				@media (min-width: 320px) and (max-width: 540px)
					display block
					font-size 12px
					font-family "Arial"
					color rgb(255, 255, 255)
					line-height 0.947
					font-weight 300
					margin-top -21px
					text-align right
					a
						@media (min-width: 320px) and (max-width: 540px)
							font-size 12px
							font-family "Arial"
							color rgb(255, 255, 255)
							line-height 0.947
							font-weight 300
							letter-spacing 0.54px
							text-decoration underline