//=======================header==============================
html
	min-width 1170px
body
	overflow-x hidden
.turbolock-header
	margin-top 22px
	height 79px
	&__logo
		background url('../images/logo.png') no-repeat
		background-size contain
		width 150px
		height 77px
		margin-top -9px
	a
		font-size 16px
		font-family "Akrobat"
		font-weight 900
		color rgb(41, 41, 41)
		line-height 16px
		letter-spacing 1px
		text-align left
		text-decoration none
.turbolock-menu
	display none
.turbolock-mobmenu
	display none
.turbolock-move.
	&_link1
		margin-top 10px
		margin-left 17px
		width 106px
	&_link2
		margin-top 10px
		margin-left 54px
		width 93px
	&_link3
		margin-top 10px
		margin-left -22px
		width 105px
	&_link4
		margin-top 10px
		margin-left 6px
		width 123px
.turbolock-move:hover{
				border-bottom 3px solid #207ca8	
}
.turbolock-button._header
		button
			background-color rgb(41, 41, 41)
			width 150px
			height 27px
			border none
			font-size 11px
			font-family "Arial"
			color rgb(255, 255, 255)
			text-align left
			text-decoration underline
			margin-top 4px
			margin-left 20px
.turbolock-phone._number
			font-size 20px
			font-family "Akrobat"
			color rgb(32, 124, 168)
			line-height 0.947
			font-weight 900
			margin-left -30px
			margin-top 2px
			letter-spacing 1.4px
			span
				font-size 29px
				font-family "Akrobat"
				color rgb(41, 41, 41)
// //================= section blackblock =====================
// .turbolock-move._linkmobile1,.turbolock-move._linkmobile2,.turbolock-move._linkmobile3,.turbolock-move._linkmobile4
// 	&__link
// 		color #fff


//================= section 0 ==============================
.turbolock-section._zero
	display none
	height 133px
.turbolock-nadpiszero
	display none
.turbolock-linezero
	display none
.turbolock-buttonzero
	display none
.turbolock-phone._numberzero
	display none

//================= section 1 ==============================
.turbolock-section._one
	background url('../images/temp.png') no-repeat center center
	height 653px
.turbolock-nadpisone
	&__titlemainone
		font-size 24px
		font-family "Akrobat"
		color rgb(41, 41, 41)
		line-height 0.667
		text-align center
		font-weight bold
		margin-top 20px
		margin-bottom 15px
.turbolock-lineone
	background-color #29a6ec
	height 4px
	width 454px
	margin auto
	margin-bottom 30px
.turbolock-point1
	height 122px
	margin-top 43px
	&__point1
		span
			font-size 24px
			font-family "Akrobat"
			color rgb(41, 41, 41)
			line-height 0.667
.turbolock-point2
	height 122px
	margin-left 20px
	&__point2
		span
			font-size 24px
			font-family "Akrobat"
			color rgb(41, 41, 41)
			line-height 0.667
.turbolock-point3
	height 122px
	margin-top 23px
	margin-left 10px
	&__point3
		span
			font-size 24px
			font-family "Akrobat"
			color rgb(41, 41, 41)
			line-height 0.667
.turbolock-point4
	height 122px
	margin-left -26px
	margin-top -3px
	&__point4
		span
			font-size 24px
			font-family "Akrobat"
			color rgb(41, 41, 41)
			line-height 0.667

//================= section 2 ==============================
.turbolock-section._two
	height 205px
	background-color #292929
	
.turbolock-section
	&__title1
			font-size 70px
			font-family "Akrobat"
			color #0773ac
			text-align left
			font-weight 900
	&__title2
			font-size 20px
			text-align left
			color #ffffff
			font-family "Akrobat"
			font-weight 900
			margin-top 27px
			margin-left -45px
	&__title3
		font-size 20px
		text-align left
		color #ffffff
		font-family "Akrobat"
		font-weight 900
	&__form
		input
			border-width 4px
			border-color rgb(0, 174, 239)
			border-style solid
			background-color rgb(255, 255, 255)
			width 285px
			height 46px			
			font-size 28px
			font-family "Akrobat"
			color rgb(130, 130, 130)
			font-weight bold
			line-height 1.2
			margin-top 29px
.turbolock-button2
	button
		background-color rgb(57, 181, 74)
		width 293px
		height 70px
		font-size 26px
		font-family "Akrobat"
		color rgb(255, 255, 255)
		font-weight bold
		line-height 1.2
		border none

//================= section 3 ==============================
.turbolock-nadpis
	&__titlemain
		font-size 24px
		font-family "Akrobat"
		color rgb(41, 41, 41)
		line-height 0.667
		text-align center
		font-weight bold
		margin-top 20px
		margin-bottom 15px
.turbolock-line
	background-color #29a6ec
	height 4px
	width 454px
	margin auto
	margin-bottom 30px

.turbolock-pict
	display inline-block
	vertical-align top
	width 50%
	&__picture1
		background url('../images/block1.png') no-repeat
		background-size contain
		height 357px
		width 274px
	&__picture2
		background url('../images/block2.png') no-repeat
		background-size contain	
		height 357px
		width 274px
	&__picture2hide
		display none
		background url('../images/block2.png') no-repeat
		background-size contain	
		height 357px
		width 274px	
	&__picture3
		background url('../images/block3.png') no-repeat
		background-size contain
		height 357px
		width 274px
	&__picture4
		display block
		background url('../images/block4.png') no-repeat
		background-size contain
		height 357px
		width 274px
	&__picture4hide
		display none
		background url('../images/block4.png') no-repeat
		background-size contain	
		height 357px
		width 274px	
		
.turbolock-texto
	display inline-block
	vertical-align top

	&__titleblock
		font-size 19px
		font-family "FontAwesome"
		color rgb(32, 124, 168)
		line-height 1.2
		span
			font-family "Akrobat"
			color rgb(41, 41, 41)
			font-weight bold
	&__titleblock1
		font-size 19px
		font-family "FontAwesome"
		color rgb(32, 124, 168)
		line-height 1.2
		span
			font-family "Akrobat"
			color rgb(41, 41, 41)
			font-weight bold
	&__titleblockhide
		display none
		font-size 19px
		font-family "FontAwesome"
		color rgb(32, 124, 168)
		line-height 1.2
		span
			font-family "Akrobat"
			color rgb(41, 41, 41)
			font-weight bold
	&__discription
		p
			font-size 16px
			font-family "Akrobat"
			color  rgb(41, 41, 41)
			line-height 1.5
			margin-top 30px
	&__discriptionhide
		display none
		p
			font-size 16px
			font-family "Akrobat"
			color  rgb(41, 41, 41)
			line-height 1.5
			margin-top 30px
.turbolock-button1
	padding-left 500px
	margin-top 30px
	button
		background-color rgb(17, 17, 17)
		width 263px
		height 68px
		font-size 26px
		font-family "Akrobat"
		color rgb(255, 255, 255)
		font-weight bold
		line-height 1.2
		border none
.turbolock-button1hide
	display none
	padding-left 500px
	margin-top 30px
	button
		background-color rgb(17, 17, 17)
		width 263px
		height 68px
		font-size 26px
		font-family "Akrobat"
		color rgb(255, 255, 255)
		font-weight bold
		line-height 1.2
		border none

.turbolock-gradient
	margin-left 500px
	margin-bottom 25px
	height 4px
	width 263px
	background: -moz-linear-gradient(left, #00aeef 0%, #7424cd 50%, #0970f1 100%)
	background: -webkit-linear-gradient(left, #00aeef 0%,#7424cd 50%,#0970f1 100%)
	background: linear-gradient(to right, #00aeef 0%,#7424cd 50%,#0970f1 100%)
.turbolock-gradienthide
	display none
	margin-left 500px
	margin-bottom 25px
	height 4px
	width 263px
	background: -moz-linear-gradient(left, #00aeef 0%, #7424cd 50%, #0970f1 100%)
	background: -webkit-linear-gradient(left, #00aeef 0%,#7424cd 50%,#0970f1 100%)
	background: linear-gradient(to right, #00aeef 0%,#7424cd 50%,#0970f1 100%)

.turbolock-gradient1
	margin-bottom 25px
	height 4px
	width 263px
	background: -moz-linear-gradient(left, #00aeef 0%, #7424cd 50%, #0970f1 100%)
	background: -webkit-linear-gradient(left, #00aeef 0%,#7424cd 50%,#0970f1 100%)
	background: linear-gradient(to right, #00aeef 0%,#7424cd 50%,#0970f1 100%)

.turbolock-button5
	margin-top 30px
	button
		background-color rgb(17, 17, 17)
		width 263px
		height 68px
		font-size 26px
		font-family "Akrobat"
		color rgb(255, 255, 255)
		font-weight bold
		line-height 1.2
		border none
.turbolock-price
	text-align center
	margin-bottom 13px
	&__link
		font-size 18px
		font-family "FontAwesome"
		color #0773ac
		line-height 1.2
.turbolock-price__link:hover{
	color #0773ac
}
//================= section 4 ==============================
.turbolock-line1
	background-color #29a6ec
	height 4px
	width 454px
	margin auto
	margin-bottom 50px
.turbolock-section.
	&_four
		background-color #292929
		height 500px
.turbolock-section
	&__titlemain1
		font-size 24px
		font-family "Akrobat"
		color rgb(255, 255, 255)
		line-height 1.2
		text-align center
		font-weight bold
		margin-top 20px
		margin-bottom 10px
	&__line
		margin-top -20px
		margin-left 390px
		margin-bottom 25px
	&__pict
		margin-bottom 20px
		margin-left 17px
		img
			background-size contain
		i
			font-size 30px
			font-family "FontAwesome"
			color: rgb(255, 255, 255)
			line-height 1.2
			text-align center
			position relative
			left 25px
	&__disription
		p
			font-size 16px
			font-family "Akrobat"
			color rgb(255, 255, 255)
			font-weight bold
			line-height 1.2
			text-align center
	&__title
		font-size 25px
		font-family "Akrobat"
		color rgb(255, 255, 255)
		line-height 1.2
		font-weight bold
		margin-top 42px
	&__titlehide
		display none
		font-size 25px
		font-family "Akrobat"
		color rgb(255, 255, 255)
		line-height 1.2
		font-weight bold
		margin-top 42px
	&__form2
		input
			border-width 4px
			border-color rgb(0, 174, 239)
			border-style solid
			background-color rgb(255, 255, 255)
			width 285px
			height 46px			
			font-size 28px
			font-family "Akrobat"
			color rgb(130, 130, 130)
			font-weight bold
			line-height 1.2
			margin-top 50px

.turbolock-button
	
	button
		background-color: rgb(57, 181, 74);
		width: 293px;
		height: 54px;
		font-size 26px
		font-family "Akrobat"
		color rgb(255, 255, 255)
		font-weight bold
		line-height 1.2
		border none
		margin-top 42px
//================= section 5 ==============================
.turbolock-section
	&__titlemain
		font-size 24px
		font-family "Akrobat"
		color rgb(14, 14, 14)
		line-height 1.2
		text-align center
		font-weight 900
		margin-top 50px
	&__pict6
		display block
		img
			margin-left 85px
			margin-top 50px
	&__titlephone
		margin-top 50px
		margin-left 75px
		font-size 30px
		font-family "Akrobat"
		color rgb(14, 14, 14)
		line-height 1.2
		text-align center
		font-weight 900
		span
			color #1a7fed
	&__viber
		display none
	&__vatsup
		display none
		
.turbolock-phonehand
	&__handphone
		margin-top -312px
		margin-left -20px
.turbolock-engineer
	&__engineerpict
		display block
		margin-top 13px
//================= section 6 ==============================
.turbolock-line2
	background-color #29a6ec
	height 4px
	width 454px
	margin auto
	margin-bottom 50px
.turbolock-lineblock6
	display none
.turbolock-section
	&__title6main
		display none
.turbolock-section.
	&_six
		background-color #292929
		height 535px
.turbolock-slider
	&__content
		p
			font-size 18px
			font-family "Akrobat"
			color rgb(255, 255, 255)
			line-height 1.2
		img
			height 357px
			float left
			margin-right 20px
		
//================= section 7 ==============================
.turbolock-section
	&__titlemain3
		font-size 24px
		font-family "Akrobat"
		color rgb(23, 23, 23)
		font-weight 900
		line-height 1.2
		margin-top 35px
	&__discription
		font-size 19px
		font-family "Akrobat"
		color rgb(23, 23, 23)
		font-weight bold
		line-height 1.2
		margin-top 75px
	&__discription7hide
		display none


.turbolock-section._seven
	.container
		.row
			.col-lg-6.col-md-6
				.row
					margin-top 90px
					margin-bottom 50px
					background-color #ebebeb

.turbolock-kart1
	&__pict1
		background url('../images/crown.png') no-repeat
		height 58px
		width 67px
		margin-right 15px
		float left
	&__discription2
		margin-top 10px
		
.turbolock-kart2
	&__pict2
		background url('../images/security.png') no-repeat
		height 58px
		width 67px
		margin-right 15px
		float left
	&__discription2
		margin-top 10px
		margin-right 21px
		//letter-spacing 0.31px

.turbolock-kart3
	&__pict3
		background url('../images/coins.png') no-repeat
		height 58px
		width 67px
		margin-left -10px
		float left
		margin-right 10px
	&__discription2
		margin-top 10px
		margin-right -10px
.turbolock-logo1
	margin-left -25px

.turbolock-logo3
	margin-left 20px

.turbolock-logo5
	margin-left -25px
	

//================= section 8 ==============================
.turbolock-section
	&__title8main
		display none
.turbolock-lineblock8
	display none
.turbolock-line3
	background-color #29a6ec
	height 4px
	width 454px
	margin auto
	margin-bottom 50px
.turbolock-section.
	&_eight
		background-color #292929
		height 606px
.turbolock-section
	&__titlemain4
		font-size 24px
		font-family "Akrobat"
		color rgb(14, 14, 14)
		line-height 1.2
		text-align center
		font-weight 900
	&__pict3
		img
			margin-left 50px
			margin-top 50px
	&__discription4
		font-size 24px
		font-family "Akrobat"
		color rgb(255, 255, 255)
		font-weight bold
		line-height 1.2
		text-align left
	&__discription5
		font-size 19px
		font-family "Akrobat"
		color rgb(255, 255, 255)
		font-weight bold
		line-height 1.2
		text-align left
	&__form4
		input
			border-width 4px
			border-color rgb(0, 174, 239)
			border-style solid
			background-color rgb(255, 255, 255)
			width 285px
			height 46px			
			font-size 28px
			font-family "Akrobat"
			color rgb(130, 130, 130)
			font-weight bold
			line-height 1.2
			margin-top 42px
.turbolock-input-menu
	&__form
		textarea
			border-width 4px
			border-color rgb(0, 191, 243)
			border-style solid
			background-color rgb(225, 225, 225)
			width 450px
			height 128px
			font-size 19px
			font-family "Akrobat"
			color rgb(130, 130, 130)
			font-weight bold
			line-height 1.2
			margin-top 29px
.turbolock-button3
	margin-top 42px
	margin-left 53px
	button
		background-color: rgb(57, 181, 74);
		width: 147px;
		height: 46px;
		font-size: 19px;
		font-family: "Akrobat";
		color: rgb(255, 255, 255);
		font-weight: bold;
		line-height: 1.2;
		text-align: center;
		border none

//================= footer ==============================
.turbolock-footer
	background-color #3d3d3d
	height 156px
	padding-top 30px
	&__logo
		background url('../images/footer_logo.png') no-repeat
		background-size cover	
		width 150px
		height 77px
		margin-top -14px
		margin-left -16px
	a
		font-size 16px
		font-family "Akrobat"
		font-weight 900
		color #dddddd
		line-height 16px
		letter-spacing 1px
		text-align left
		text-decoration none

.turbolock-move:hover{
				border-bottom 3px solid #207ca8	
}
.turbolock-button._footer
		button
			background-color #207ca8
			width 150px
			height 27px
			border none
			font-size 11px
			font-family "Arial"
			color rgb(255, 255, 255)
			text-align left
			text-decoration underline
			margin-top 4px
			margin-left -9px
			margin-right 6px
.turbolock-phone._number1
			font-size 20px
			font-family "Akrobat"
			color rgb(32, 124, 168)
			line-height 0.947
			font-weight 900
			margin-left -53px
			margin-top 2px
			letter-spacing 1.4px
			span
				font-size 29px
				font-family "Akrobat"
				color #dddddd
				img
					margin-left 6px
a.turbolock-politika
	&__link
			font-size 14px
			font-family "Arial"
			color rgb(255, 255, 255)
			line-height 0.947
			font-weight 300
			letter-spacing 0.54px
			text-decoration underline
.turbolock-politika
	margin-top 36px
	text-align right
.turbolock-prava
	margin-top 36px	
	&__discription
		font-size 14px
		font-family "Arial"
		color rgb(255, 255, 255)
		line-height 0.947
		font-weight 300
.turbolock-pravahide
	display none
.turbolock-politikahide
	display none